<div class="container">
  <h2 class="text-center">Project Submission File Generator</h2>
  <p class="text-center">Complete and submit this form to generate a submission file for the database. Download and rename the file to &lt;Your department&gt;_&lt;Your group number&gt;.json then send it to professor running your course. All parameters are required except for Group Members 2-4. Submitting an invalid form will erase all entries. Contact your course professor if you require more than 4 group members.</p>
</div>

<div class="container">
  <hr>
<div>

<div class="container">
  <%= render "submissions/project_form" %>
</div>