<div class="container-fluid justify-content-around pt-10">
  <div class="row justify-content-center">
    <div class="col-md-1">
      <div class="fs-1 text">
        <%= link_to_previous_page @projects, 'Previous',  class: "btn btn-primary btn-lg"%>
      </div>
    </div>
    <div class="col-2">
      <span></span>
    </div>
    <div class="col-md-1">
      <div class="fs-1 text">
        <%= link_to_next_page @projects, 'Next',  class: "btn btn-primary btn-lg"%>
      </div>
    </div>
  </div>
</div>

<br>
