<div class="container height-100 d-flex justify-content-center align-items-center">
  <div class="card"> 
    <div class="d-flex justify-content-center">
      <iframe width="640" height="360" src=<%= project.video_link %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="p-3 content"> <span><%= project.title %></span>
      <hr>
      <% project.people.each do |person| %>
        <%= render "projects/person", person: person %>
        <br>
      <% end %>
      <hr>
      <p><%= project.abstract %></p>
    </div>
  </div>
</div>