<div class="container">
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">What are Capstone Engineering Projects?</h1>
    <p class="col-md-8 fs-4">Capstone projects challenge fourth-year engineering students to apply the formal knowledge they’ve gained during their undergraduate studies to tackle societal challenges. Students combine the technical skills and hands-on experience they acquired in school to design a project related to their chosen discipline.</p>
    <a href="https://www.uwindsor.ca/engineering/771/capstone-design" class="btn btn-primary">Get More Information</a>
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>UWindsor Engineering</h2>
        <p>Windsor’s unique climate of co-operation between academic, business and industry sectors gives you access to state-of-the-art engineering facilities and outstanding career opportunities. Whether you're a high school student trying to learn more about engineering, a potential graduate student considering advanced study through a master's or doctoral degree, a company or industry representative wondering if our university can assist you with a research problem, we're positive that the Faculty of Engineering can help you.</p>
        <a href="https://www.uwindsor.ca/engineering/" class="btn btn-secondary">More on UWindsor Engineering</a>
    </div>
    </div>
    <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Do you have a research challenge for our students?</h2>
        <p>If your organization is interested in participating or would like more information about sponsoring a student project, please contact the 2021-2022 capstone coordinators found below.</p>
        <a href="https://www.uwindsor.ca/engineering/771/capstone-design" class="btn btn-secondary">Get More Information</a>
    </div>
    </div>
</div>
</div>
</div>


<div class="container">
<hr>
<h2 class="text-center">Featured Project</h2>
<%= render "projects/project", project: @project %>
</div>