<footer class="footer sticky-bottom mt-auto py-3 bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            <%= image_tag "misc/uwindsor_footer_logo.png" %>
        </a>
    </div>
</footer>
