<form class="form-inline mb-2" action="/projects">
  <div class="text-white text-center">
    <h2>Search By Project/Student Name</h2>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-control form-control-lg" type="search" placeholder="Search a name" name="name" id="name">
  </div>
  <div class="form-check form-check-inline">
    <button class="btn btn-primary btn-lg mb-1" type="submit">Search</button>
  <div>
</form>