<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <%= image_tag "misc/uwindsor_footer_logo.png" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <div class="navbar-nav text-white bg-dark text-center">
        <h1> Capstone Engineering Projects Database</h1>
      </div>
      <%= render "layouts/navbar_form" %>
      <%= render "layouts/navbar_search" %>
    </div>
  </div>
</nav>
