
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <%= image_tag "misc/uwindsor_footer_logo.png" %>
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav text-white bg-dark">
                <h1> Capstone Engineering Projects Database</h1>
            </div>
            <div class="navbar-nav ms-auto">
                <%= render "layouts/navbar_form" %>
            </div>
            <div class="navbar-nav ms-auto">
                <%= render "layouts/navbar_search" %>
            </div>
        </div> 
    </div>
</nav>
