<% departments = ['Electrical', 'Mechanical', 'Civil', 'Environmental', 'Industrial'] %>
<% years = ['2020', '2021']%>

<div class="container">
  <form action="/projects">
    <div class="form-check form-check-inline">
      <select id="department" name="department" class="form-control form-control-lg" required>
          <option value="">Select Department</option>
          <% departments.each do |department| %>
              <option value=<%= department%>><%= department %></option>
          <% end %>
      </select>
    </div>
    <div class="form-check form-check-inline">
      <select id="year" name="year" class="form-control form-control-lg" required>
          <option value="">Select Year</option>
          <% years.each do |year| %>
              <option value=<%= year %>><%= year %></option>
          <% end %>
      </select>
    </div>
    <div class="form-check form-check-inline">
      <button type="submit" class="btn btn-primary btn-lg mb-1">Submit</button>
    </div>
  </form>
</div>